streamlit
langchain
langchain-community
langchain-core
langchain-groq
faiss-cpu
pypdf
sentence-transformers
huggingface-hub
deep-translator
python-dotenv
ragas
datasets
pandas
numpy
tqdm
PyPDF2
easyocr
pdf2image
Pillow